In [4]:
import pandas as pd
import joblib

## Load the data in dataframe

In [9]:
df = pd.read_csv("../data/credit_risk_dataset.csv")
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

#### Removed all the null values

In [10]:
target_data = df.pop('loan_status')
df['loan_status'] = target_data
df.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
loan_status                      0
dtype: int64

In [12]:
df['loan_int_rate'] = df['loan_int_rate'].fillna(df['loan_int_rate'].mean())
df['person_emp_length'] = df['person_emp_length'].fillna(df['person_emp_length'].mean())
df.isnull().sum().sum()

np.int64(0)

#### Label Encoding (All the text labels are changed to the numerical values)

(This encoding is saved in the model folder for future reference)

In [17]:
from sklearn.preprocessing import LabelEncoder

# List of all the text-based columns
categorical_features = [
    'person_home_ownership', 
    'loan_intent', 
    'loan_grade', 
    'cb_person_default_on_file'
]
all_label_encoders = {}

df_processed = df.copy()
for col in categorical_features:
    le = LabelEncoder()
    df_processed[col] = le.fit_transform(df_processed[col])
    
    all_label_encoders[col] = le
    
joblib.dump(all_label_encoders, '../models/label_encoders.joblib')

['../models/label_encoders.joblib']

In [18]:
df_processed.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,22,59000,3,123.0,4,3,35000,16.02,0.59,1,3,1
1,21,9600,2,5.0,1,1,1000,11.14,0.10,0,2,0
2,25,9600,0,1.0,3,2,5500,12.87,0.57,0,3,1
3,23,65500,3,4.0,3,2,35000,15.23,0.53,0,2,1
4,24,54400,3,8.0,3,2,35000,14.27,0.55,1,4,1

In [21]:
df_processed["loan_status"].value_counts()

loan_status
0    25473
1     7108
Name: count, dtype: int64

#### Saving the data in a separate file

In [19]:
# saving processed data
df_processed.to_csv('../data/processed_data.csv', index=False)